<p>cadastro works!</p>
<form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
    <div>
        <input 
        #nome="ngModel"
        required
        type="text" 
        ngModel 
        name="nome" 
        placeholder="Informe nome" /> 
        <br/>
        <span class="error" *ngIf="nome.invalid">O nome é obrigatório</span>

    </div>
    
    <input 
       type="text"
       ngModel
       name="idade"
       placeholder="Informe idade" /> <br/>
    <input 
       type="text"
       ngModel
       name="email"
       placeholder="Informe email" /> <br/>
    <button>Salvar</button>
</form>
<div>
    <h1>Lista de contatos</h1>
    <table>
        <tr>
            <td>Nome</td>
            <td>Idade</td>
            <td>Email</td>
        </tr>
        <tr *ngFor="let ct of contatos">
            <td>{{ct.nome}}</td>
            <td>{{ct.idade}}</td>
            <td>{{ct.email}}</td>
        </tr>
    </table>    
</div>
